:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
}


body{
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
ul, ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.container{
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header{
  background: var(--white);
  border-bottom: 1px solid var(--cornflower);
}

.header-container{
  display: flex;
  align-items: center;
}

.header-nav{
  display: flex;
  align-items: center;
}

.logo-header{
  padding: 24px 0;
  margin-right: 76px; 
}

.logo-header{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.studio-header{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue)
}

.nav-menu-list{
  display: flex;
  align-items: center;
  gap: 40px;
}

.link-nav-menu{
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  cursor: pointer;
}




.address{
  margin-left: auto;
  font-style: normal;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-address{
  display: flex;
  align-items: center;
  gap: 40px;
}


.nav-email{
  display: block;
  padding: 24px 0;
 font-size: 16px;
 /* line-height: 24px; */ 
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455;
 cursor: pointer;
}

.link-nav-menu:hover,
.link-nav-menu:focus,
.nav-email:hover,
.nav-email:focus {
  color: #404bbf;
}

.first-part{
  background: var(--navy-blue);
  padding-top: 188px;
  padding-bottom: 188px;
}

.h-container{
  display: block;
  text-align: center; 
  gap: 48px;  
}

.first-h{
  display: block;
  max-width: 496px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  background: var(--navy-blue);
  }

.button-order-service{
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  }

.button-order-service:hover,
.button-order-service:focus{
  background-color: var(--ocean);
  }

.stong-points{
  background: var(--white);
  padding-top: 120px;
  padding-bottom: 120px;
}


.strong-points-container{
  display: flex;
  align-items: center;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ul-strong-points{
  display: flex;
  gap: 24px;
}

.li-strong-points{
  width: calc((100% - 72px) / 4);
}
.our-strong-points-header{
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.our-strong-points-descr{
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  background-color: var(--white);
  }
.section-over-team{
  background: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}

.over-team-container{
  display: block;
  align-items: center;
}

.our-team{
  margin-bottom: 72px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.ul-our-team{
  display: flex;
  align-items: center;
  gap: 24px;
}
.member{
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
}

.div-name-position{
  display: block;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.member-name{
  text-align: center;
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.member-position{
  text-align: center;
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.profilo{
  background: var(--white);
  padding-top: 120px;
  padding-bottom: 120px;
 }

.our-profilo-container{
  display: block;
  align-items: center;

}

.ul-our-profilo{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.our-profilo{
  margin-bottom: 72px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.li-our-profilo{
  width: calc((100% - 48px) / 3);
}

.div-profilo-descr{
  display: block;
  align-items: center;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}


.our-profilo-h{
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  }

.our-profilo-desc{
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  }

.footer{
  font-family: "Raleway", sans-serif;
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container{
  display: block;
  align-items: center;
 

}
.logo-footer{
  display: inline-block;
  margin-bottom: 16px;
  font-family: var(--second-family);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  }

.studio{
  color: var(--cloud);
}
.footer-text{
  max-width: 264px;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
}
